.CategoryList {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  box-shadow: 1rem 1rem 2rem black;

  h2 {
    width: fit-content;
    margin: 0 auto 1rem auto;
    padding: 0;
    text-decoration: underline;
  }

  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
}
