.CategoryList {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  -webkit-box-shadow: 1rem 1rem 2rem black;
  box-shadow: 1rem 1rem 2rem black;
}

.CategoryList h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1rem auto;
  padding: 0;
  text-decoration: underline;
}

.CategoryList .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
