.App h1 {
  text-align: center;
}

.App div.error {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  background-color: rgba(128, 128, 128, 0.75);
  color: red;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
}
